.foo {
  font-size: 12px;
  color: #333;
  background: #000000;
}

.bar {
  width: 20px;
  background: #999;
  box-shadow: 5px 5px 5px #000000, 10px 10px 10px #ffffff;
}

.parent .child {
  line-height: 50px;
  background: #990;
}

.x {
  color: #ffffff;
}

span {
  color: #000000;
}

p {
  background-color: #ffffff;
}
