.foo {
    font-size: 12px;
    color: #333;
    background: contrast(#333);
}
.bar {
    width: 20px;
    background: #999;
}
.parent .child {
    line-height: 50px;
    background: lalala;
}
.x {
    color: contrast(#a3d93a);
}
